
nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    padding: 0;
    background:  #004666!important;
}

div#navbarNav ul li:hover {
    background: #00628f;
}
div#navbarNav a {
    color: black;
    font-family: arial;
    font-size: 16px;
}
div#div-container-order {
    background-image: url("../images/pizza_background_order.jpg");
    width: 100%;
    background-size: contain;
}


.menu .card-body li {
    background: none;
}
div#order-notification {
    padding: 5px;
    margin: auto;
}

.show-orderid p {
    display: block;
    float: left;
}

div#order-id-result {
    float: right;
    text-align: center;
    width: 325px;
    border: 1px solid black;
    padding: 5px 0px;
    margin-left: 81px;
}
#pizza-type h3 {
    font-size: 1.5rem;
}

.show-orderid {
    overflow: hidden;
}
div#navbarNav ul li:hover {
    background: orange;
}
.bg-orange{
    background-color: orange;
}
.c-orange{
    color: orange;
}
.bg-lightgolden{
    background-color: lightgoldenrodyellow;
}
.bg-yellow{
    background-color: yellow;
}
.bg-lightsalmon{
    background-color: lightsalmon;
}
.border-bottom-orange{
    border-bottom: 1px solid orange;
}
p.font-weight-500 {
    font-weight: 500;
}
.bg-select{
    background-color: #ffc107;
}
div#create-order-modal .modal-dialog, div#notify-order-modal .modal-dialog  {
    max-width: 750px;
}
#notify-order-modal .modal-header {
    border: none;
}

#notify-order-modal label {
    font-weight: 500;
    font-size: 1.25rem;
}